{{#if addNewPregunta}}
  <h1>Nueva Pregunta</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="usuario">Nombre Usuario</label>
        {{input value=usuario id="usuario"}}
      </div>
      <div class="form-group">
        <label for="consulta">¿Cuál es su pregunta?</label>
        {{input value=consulta id="consulta"}}
      </div>
    <button {{action 'save1'}}>enviar tu pregunta</button>
    </form>
  </div>
{{else}}
  <button {{action 'preguntaFormShow'}}>Nueva Pregunta</button>
{{/if}}
