
  {{pregunta.usuario}} PREGUNTÓ: {{pregunta.consulta}}

  <ul>
    {{#each pregunta.answers as |answer|}}
      <li>{{#link-to 'answer' answer.id}}{{answer.contestador}} {{/link-to}}Contestó: {{answer.respuesta}}</li>
    {{/each}}
  </ul>
  <button {{action 'destroyPregunta' pregunta}}>Borrar la pregunta</button>

  
