{{#if updateAnswerForm}}
  <h4>Revisar la pregunta de {{answer.contestador}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="contestador">Nombre Nuevo</label>
          {{input value=contestador id="contestador" placeholder=answer.contestador}}
        </div>

        <div class="form-group">
          <label for="type">Respuesta Nueva</label>
          {{input value=respuesta id="respuesta" placeholder=answer.respuesta}}
        </div>

        <button {{action 'update' answer}}>Revisar</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateAnswerForm'}}>Revisar su respuesta</button>
{{/if}}
