
{{#if updatePreguntaForm}}
  <h4>Revisar la pregunta de {{pregunta.usuario}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="usuario">nombre de usuario</label>
        {{input value=usuario id="usuario" placeholder=pregunta.usuario}}
      </div>

      <div class="form-group">
        <label for="consulta">pregunta</label>
        {{input value=consulta id="consulta" placeholder=pregunta.consulta}}
      </div>

      <div class="form-group">
        <label for="nota">nota</label>
        {{input value=nota id="nota" placeholder=pregunta.nota}}
      </div>

      <button {{action 'update' pregunta}}>Enviar sus cambios</button>
    </form>
  </div>
{{else}}
  <button {{action 'updatePreguntaForm'}}>Revisar</button>
{{/if}}
