<h1> La pregunta de {{pregunta.usuario}} </h1>

<h2>notas: {{pregunta.nota}}</h2>

{{new-answer save2="save3" pregunta=model}}

{{pregunta-tile pregunta=model destroyPregunta="destroyPregunta"}}

{{update-pregunta pregunta=model update="update"}}
